@import '~antd/dist/antd.css';
.sildes{
    width: 100%;
    height: 600px;
}
.sildes .imgs{
    width: 100%;
    height: 600px;
}
.ant-carousel .slick-slide {
    text-align: center;
    height: 600px;
    background: #364d79;
    color: #fff;
    overflow: hidden;
}